body {
    margin:0;
    text-align:center;
    background-color: rgb(236, 236, 254);
}

/* Site */

header{
    background-color: rgb(14, 29, 54);
    width: 100%;
    padding:20px;
}

h1{
    color:rgb(255, 255, 255);
    font-family: 'Arial';
    font-size:35px;
}
p{
    font-family: Arial;
    font-size:25px;
    text-align: justify;
    -webkit-hyphens:none;
    hyphens:none;
    overflow-wrap:break-word;
    word-break:keep-all;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px 40px;
}

img {
    width: 700px;
    height: auto;
}


/* Menu */

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: rgb(42, 61, 94);
}

/* Botões do Menu */

.menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    padding:12px 22px;
    border-radius: 25px;
    transition: 0.3s;
}

/* Menu Atual */

.menu a.ativo {
    background-color: rgb(128, 128, 247);
    color: white;
}

/* Mouse */

.menu a:hover {
    background-color: rgb(118, 118, 188);
    color: white;
    transform: translateY(-2px);
}

/* Cont */

.conte {
    display:flex;
    align-items: center;
    gap: 30px;
}

.conte img {
    width: 700px;
    height: auto;
}

.text {
    flex:1;
}

/* Teias */

.teia {
    position: fixed;
    top: 0;
    width: 150px;
    height: 150px;
    pointer-events: none;
    z-index: 999;

    background-image:
    url("https:wwwtransparenttextures.com/patterns/web.png");
    background-size: contain;
    background-repeat: no-repeat;

    opacity: 0.8;
}

.teia-es {
    left: 0;
}
.teia-dir {
    right: 0;
    transform: scaleX(-1);
}
